# Pandas

In [41]:
import pandas as pd

In [42]:
df = pd.read_csv('Miscellaneous Costs.csv')
df = df.drop(columns=['ExpenseName', 'Unnamed: 8','Unnamed: 9'], axis=1)
df = df.dropna(how = 'all')

In [43]:
df.dtypes

stateAbbrev          object
stateFIPS           float64
countyortownName     object
numadults           float64
numkids             float64
yearofdata          float64
expense.misc         object
dtype: object

In [44]:
df = df.replace(',','', regex=True)

convert_dict = {'stateAbbrev': str,
                'stateFIPS': str,
                'countyortownName': str,
                'numadults':str,
                'numkids':str,
                'yearofdata':str,
                'expense.misc': float,
                }
df = df.astype(convert_dict)

In [45]:
df.dtypes

stateAbbrev          object
stateFIPS            object
countyortownName     object
numadults            object
numkids              object
yearofdata           object
expense.misc        float64
dtype: object

In [46]:
df

,stateAbbrev,stateFIPS,countyortownName,numadults,numkids,yearofdata,expense.misc
0,AL,1.0,Autauga County,1.0,0.0,2020.0,1714.0
1,AL,1.0,Autauga County,1.0,1.0,2020.0,2946.0
2,AL,1.0,Autauga County,1.0,2.0,2020.0,3629.0
3,AL,1.0,Autauga County,1.0,3.0,2020.0,4547.0
4,AL,1.0,Autauga County,1.0,4.0,2020.0,5185.0
...,...,...,...,...,...,...,...
38155,WY,56.0,state.average,3.0,0.0,2020.0,3326.0
38156,WY,56.0,state.average,3.0,1.0,2020.0,4538.0
38157,WY,56.0,state.average,3.0,2.0,2020.0,5318.0
38158,WY,56.0,state.average,3.0,3.0,2020.0,6478.0
38159,WY,56.0,state.average,3.0,4.0,2020.0,7224.0